@import './variable.scss';

page{
	color: var(--content);
	background-color: var(--bg-color);
	-webkit-font-smoothing: antialiased;
	font-size: var(--content-size);
	line-height: 1.5;
	box-sizing: border-box;
	min-height: 100%;
}
view{
	box-sizing: border-box;
}

.primary {
	color: var(--primary);
}
.success {
	color: var(--success);
}
.info {
	color: var(--info);
}
.warning {
	color: var(--warning);
}
.danger {
	color: var(--danger);
}
.gray {
	color: var(--gray);
}

.bg-default {
	background-color: var(--border-color);
}
.bg-primary {
	background-color: var(--primary);
}
.bg-success {
	background-color: var(--success);
}
.bg-info {
	background-color: var(--info);
}
.bg-warning {
	background-color: var(--warning);
}
.bg-danger {
	background-color: var(--danger);
}
.bg-gray {
	background-color: var(--gray);
}
.bg-white {
	background-color: #fff;
}

.layout-box {
	padding: var(--gutter);
	background-color: #fff;
}

.radius {
	border-radius: 8rpx;
}
.radius-lg {
	border-radius: 16rpx;
}
.bdb{
	border-bottom: 1px solid var(--border-color);
}

.gutter-v {
	margin-bottom: var(--gutter-v);
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-justify{
	text-align-last: justify;
}

.flex{
	display: flex;
}
.flex-grow{
	flex-grow: 1;
}
.justify-between{
	justify-content: space-between;
}
.align-center{
	align-items: center;
}

.shadow{
	box-shadow: 0 0 10px 2px rgba(65, 65, 70, 0.2);
}

.title{
	font-size: var(--title-size);
	color: var(--title);
}
.content{
	font-size: var(--content-size);
	color: var(--content);
}
.sub{
	font-size: var(--sub-size);
	color: var(--sub);
}
.bold{
	font-weight: bold;
}

.line1{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.line2{
	max-height: 42px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.container{
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--window-top));
}
.main{
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.title-hd{
	padding: 20rpx;
	position: relative;
}
.title-hd::before{
	position: absolute;
	content: '';
	width: 3px;
	height: 13px;
	background-color: var(--primary);
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.inline-block{
	display: inline-block;
}
.block{
	display: block;
}
.vm{
	vertical-align: middle;
}
.fs12{
	font-size: 12px;
}
.pr{
	position: relative;
}
.pa{
	position: absolute;
}
.sticky{
	position: sticky;
	top: 0;
}

.fs-list{
	padding: var(--gutter);
	
	&-item{
		background-color: #fff;
		padding: var(--gutter);
		border-radius: 8rpx;
		position: relative;
		
		&.border{
			border-left: 6rpx solid var(--primary);
		}
		
		& + & {
			margin-top: var(--gutter);
		}
		
		&-sub{
			display: flex;
			& + & {
				margin-top: 10rpx;
			}
		}
		
		&-left{
			color: #78869C;
			width: 110rpx;
			text-align-last: justify;
			position: relative;
			font-size: var(--content-size);
			margin-right: 20rpx;
			white-space: nowrap;
			flex-shrink: 0;
			&::after{
				position: absolute;
				content: ':';
				color: #78869C;
			}
		}
	}
}

.fs-cell-right{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
